{:company/legal-name "Avis Budget Group, Inc."
 :company/lei "529900E95812SYWMCE44"
 :company/jurisdiction "US-DE"
 :company/website "https://www.avisbudgetgroup.com"
 :company/ticker "CAR (NASDAQ)"
 :company/inquiry-form-url "https://www.avisbudgetgroup.com/home/contact-us"}
